<h1>People#edit</h1>
<%= form_for(@person, url: person_path(@person)) do |f| %>

  <%= f.text_field :title, placeholder: 'title' %>
  <%= f.text_field :first_name, placeholder: 'first name' %>
  <%= f.text_field :name, placeholder: 'name' %>

  <%= f.submit %>
<% end %>